<%- include ("./partials/header")%>
  
<div class="succeed-container">
	 <div class="succeed-title">
		 Appointment scheduled!
	</div>
	<div>
	for <%= appointment.name%> 
</div>
	<div>
	Phone:  <%= appointment.phone%> 
</div>
	<hr class="separator">
	
<div>
	Appointment date : <%= appointment.day + " " + appointment.date%> 
</div>
<div>
	At:  <%= appointment.time%> 
</div>
<div>
	Master:  <%= appointment.master%> 
</div>

<div>
	Your message:  <%= appointment.comment%> 
</div>
</div>

<script type="module" src="/booking.js"></script>
<%- include ("./partials/footer")%>